@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(273, 75%, 66%);
    font-family: 'Kumbh Sans', sans-serif;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1440px;
    padding: 0 20px;
    margin: auto;
    margin-bottom: 3rem;
}

.box-container{
    background-color: #fff;
    width: 970px;
    margin: auto;
    margin-top: 10rem;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.row{
    display: flex;
    position: relative;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-position: -560px -303px;
    background-repeat: no-repeat;
}
.image-area{
    position: relative;
    height: 500px;
    flex-basis: 50%;
}
.overflow-container{
    overflow: hidden;
}
.woman-image{
    background-image: url(./images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 500px;
    height: 465px;
    margin-left: -82px;
    z-index: 15;
}
.box-image{
    position: absolute;
    left: -100px;
    bottom: 120px;
    z-index: 16;
    
}


/*faq*/
.faq-area{
    flex-basis: 50%;
    margin-left: 50px;
    padding-right: 90px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.faq-title{
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.question-col{
    position: relative;
    cursor: pointer;
    padding: 18px 0;
}
.question-col::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: hsl(240, 5%, 91%);
    bottom: 7px;
}
.question{
    color: hsl(240, 6%, 50%);
    display: flex;
    justify-content: space-between;
    transition: 0.2s ease-in-out;
}

.question:hover{
    color: hsl(14, 88%, 65%);
}

.toggle .question{
    color: #000;
    font-weight: 700;
}
.answer{
    height: 0;
    overflow: hidden;
    opacity: 0;
    font-size: 14px;
    color: hsl(240, 6%, 50%);
    width: 100%;
    margin-top: 5px;
    transition: 0.5s ease-in-out;
}
.toggle .answer{
    height: 50px;
    overflow: visible;
    opacity: 1;
    font-size: 14px;
    color: hsl(240, 6%, 50%);
    width: 100%;
    margin-top: 5px;
}
.arrow-button{
    cursor: pointer;
    transition: .5s ease-in-out;
}
.toggle .arrow-button{
    transform: rotate(180deg);
}

@media screen and (max-width: 992px){
    .box-container{
        margin-top: 9rem;
        max-width: 100%;
    }
    .row{
    flex-direction: column;
    background-image: url(./images/bg-pattern-mobile.svg);
    background-size: 330px;
    background-position: 50% 30%;
    }
    .image-area{
        flex-basis: 100%;
    }
    .overflow-container{
        overflow: visible;
    }
    .faq-area{
        flex-basis: 100%;
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .woman-image{
        background-image: url(./images/illustration-woman-online-mobile.svg);
        height: 300px;
        margin-left:0;
        background-position: center;
        background-size: inherit;
    }
    .box-image{
        display: none;
    }
    .bg-image{
        display: none;
    }
    .faq-title{
        text-align: center;
    }
}
@media screen and (max-width: 576px){
    .box-container{
        margin-top: 7rem;
    }

    .row{
        background-size: 240px;
        background-position: 50% 10%;
    }

    .image-area{
    overflow: visible;
    }
    .woman-image{
        margin-top: -5rem;
        height: 200px;
    }
    .answer{
        width: 100%;
    }
    .toggle .answer{
        width: 100%;
    }
    .faq-title{
        font-size: 25px;
    }
}