*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.box-outher-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
}

.box-outher-container .box-container{
    width: 390px;
    height: 360px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    padding: 35px;
}

.box-container .star{
    background-color:#2f363c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-shadow:rgba(45, 46, 48, 0.2) 0px 8px 24px;
    margin-bottom: 20px;
}

.box-container .text-area h2{
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

.box-container .description p{
    color: hsl(217, 12%, 63%);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
}

.rating-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.rating-buttons .btn{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color:#2f363c;
    color: hsl(217, 12%, 63%);
    transition: all .3s ease-in-out; 
    cursor: pointer;
}

.rating-buttons .btn:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.rating-buttons .btn:focus{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.box-container .submit{
    width: 100%;
    padding: 11px 0;
    border-radius: 25px;
    border: none;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all .3s ease-in-out; 
}

.box-container .submit:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

/*second page*/
.box-outher-container .ty-container{
    position: absolute;
    z-index: -1;
    width: 390px;
    height: 360px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    padding: 35px;
}
.box-outher-container .show-ty-container{
    position: absolute;
    z-index: 1;
    width: 390px;
    height: 360px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    padding: 35px; 
}

.ty-image{
    text-align: center;
    margin-bottom: 20px;
}

.selected-rating-text{
    color: hsl(25, 97%, 53%);
    font-size: 14px;
    text-align: center; 
    margin-bottom: 20px;
}

.selected-rating-text p{
    display: inline-block;
    background-color:#2f363c;
    padding: 5px 12px;
    border-radius: 20px;
}

.thank-you{
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.thank-you-message{
    color: hsl(217, 12%, 63%);
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 575px){

    .box-outher-container .box-container{
        max-width: 100%;
        margin: 0 5px;
    }

    .box-outher-container .ty-container{
        max-width: 100%;
        margin: 0 5px;
    }
}
